@page
@model BlazorTrainingOkt_237423.Pages.modul8.IndexModel
@{
}

<button onclick="hallo()">test</button>

<script>

    function hallo()
    {
        alert("hallo");
        document.title = "Seittitel";
    }
</script>