@page "/events"
<h3>Events</h3>
<button @onclick="click">click</button>
@code {
    protected override void OnInitialized()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {

    }
    protected override void OnParametersSet()
    {

    }
    void click()
    {
        
    }

}
